/* CSS Document */
.col-12 nav{
		background-color: #e9ecef;
}
#mau{
	border-top-color: black;
	
	
}
#anh1{
	width:230px;
	height: 245px;
	border-top-right-radius: 100%;
	border-top-left-radius:100%;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
}
